body {
    margin: 0;
}
.controller {
    padding: 0 8px;
}
#comparison-area {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden; /* Hide vertical scrollbar */
}
#dropdown-menu {
    z-index: 100;
}
img {
    object-fit: fill !important;
}
/* Hide vertical scrollbar on body */
body {
    overflow-y: auto;
    overflow-x: hidden;
}